header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.nav-link {
    margin: 15px;
    font-size: medium;
    color: white;
    text-decoration: none;
}