html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #30364F;
    color: white;
}

/* HEADER */
header {
    background-color: #222;
    padding: 20px;
}

#nav-bar {
    display: flex;
    justify-content: center;
}

.nav-link {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-link:hover {
    color: #d4af37;
}

/* HOME */
#title {
    text-align: center;
    margin-top: 60px;
}

#description {
    text-align: center;
    margin-bottom: 30px;
}

/* CAROUSEL */
.carousel-wrapper {
    width: 60%;
    margin: 40px auto;
}

.carousel img {
    border-radius: 15px;
}

/* FEATURES */
.features {
    padding: 60px 20px;
    text-align: center;
}

.feature-description {
    max-width: 700px;
    margin: 0 auto 20px auto;
    font-size: 16px;
    line-height: 1.6;
}

ul.MyUl {
   display: inline-block;
   text-align: left;
}

.features img {
    border-radius: 12px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.features img:hover {
    transform: scale(1.07);
    box-shadow: 0 15px 30px rgba(0,0,0,0.6);
}

h2, h4 {
    font-family: Copperplate, fantasy;
    margin-top: 40px;
}

/* PRICING */
.pricing-section {
    padding: 70px 20px;
    text-align: center;
    background-color: #262b40;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.price-card {
    background-color: #1e2233;
    padding: 30px;
    border-radius: 12px;
    width: 280px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.price-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 35px rgba(0,0,0,0.6);
}

.price-card button:hover {
    background-color: #d4af37;
    color: black;
}

/* CONTACT */
.contact-section {
    padding: 70px 20px;
    text-align: center;
}

.contact-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 6px;
    border: none;
}

.contact-form button:hover {
    background-color: #d4af37;
    color: black;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
}