body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #30364F;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

/* Horizontal Nav */
#nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    margin: 0 15px;
    font-size: medium;
    color: white;
    text-decoration: none;
}

/* Title & Description */
#title {
    text-align: center;
    margin: 50px 0;
    color: white;
}

#description {
    text-align: center;
    margin: 20px 0;
    color: white;
}

/* Center & Resize Carousel */
.carousel-wrapper {
    width: 60%;          /* controls overall carousel width */
    margin: 50px auto;   /* centers horizontally */
}
